<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="goals.css">
        <meta charset="UTF-8">
        <title>First vuejs app</title>
    </head>
    <body>
        <h1>My First Vuejs App</h1>
        <hr>

        <div class="app">
            <div class="input">
                <label for="in">Goal</label>   
                <input type="string" class="in" v-model="inputData"> <br>
                <button v-on:click ="addgoal">Submit Goal</button>
            </div>

            
                <ul class="ul">
                    <li v-for="goal in goals"> {{ goal }} </li>
                </ul>
        </div>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="goals.js"></script>
    </body>
</html>